@inject IStringLocalizer<Header> Loc

<div class="inner">
    <h3 class="masthead-brand">@Loc["Plugin Data Reader"]</h3>
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">@Loc["Home"]</a>
        <a class="nav-link" href="https://blog.maki0419.com/" target="_blank">Blog</a>
    </nav>
</div>
